h1, h2{
    text-align: center;
}
.main {
    text-align: center;
}
.direct {
    text-align: center;
    font-size: 20px;
    color: #5ea9be;
}
p {
    font-size: 20px;
}
.geometry{
    color: #5ea9be;
}
.geometrycontainer {
    border: 0.5px solid #5ea9be;
    /*border-left-width: 5px;*/
    padding: 10px;
    color: #5ea9be;
    width: 650px;
    margin-top: 10px;
}
.criditscontainer {
    border: 0.5px solid #ff0000;
    /*border-left-width: 5px;*/
    padding: 10px;
    width: 650px;
    margin-top: 10px;
}
.algebracontainer {
    color: #8bd8c6;
    border: 0.5px solid #8bd8c6;
    padding: 10px;
    width: 500px;
}
.algebra{
    color: #8bd8c6;
}
.info {
    margin-bottom: 10px;
    margin-left: 5px;
    width: 15px;
}
.calculator{
    color: #000000;
    border: 1px solid#0000ff;
    background-color: #96afff;
    border-left-width: 2.5px;
    padding: 10px;
    margin: 10px;
}
input {
    margin: 2.5px;
}
.perimeter{
    color: #000000;
    border: 1px solid #00ff00;
    background-color: #73cc73;
    border-left-width: 2.5px;
    padding: 10px;
}
#regSahpes-resetInputs {
    margin: 5px;
}
.back{
    position: fixed;
    margin: 10px;
}